/* настройка грида */
.content {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)) repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-column-end: 3;
    padding: 30px 20px;
}

.book {
    display: flex;
    flex-direction: column;
}

.book__container {
    display: flex;
    flex-direction: column;
}

.book img {
    width: 200px;
    height: 275px;
    margin-bottom: 15px;
    cursor: pointer;
}

.book h2 {
    margin-bottom: 6px;
    font-size: 16px;
    cursor: pointer;
}

.book__author {
    margin-bottom: 6px;
    font-size: 12px;
    cursor: pointer;
}

/* настройка рейтинга в raiting.css */