.home {
    margin: 0 auto;
    display: flex;
    color: #78829d;
    cursor: pointer;
    align-items: center;
}

.icon_home {
    margin-right: 10px;
    background-image: url("../assets/icons/nowreading.png");
    background-size: 100%;
}

.support {
    margin-right: 15px;
}

.header__buttons_grey {
    font-size: 13px;
    color: #78829d;
    cursor: pointer;
}

.header__dot {
    margin: 0 13px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(25, 32, 46, 0.749);
}

/* Здесь настройка позиционирования кнопки*/
.user-menu {
    position: relative;
    height: 100%;
}

.user-menu__button_blue { /* Стиль кнопки списка */
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    background-color: #15a4fa;
}

.avatar {
    width: 32px;
    height: 32px;
    border: 2px solid #eef1f7;
    border-radius: 16px;
    background-image: url("../assets/icons/avatar.png");
}

.user-name {
    margin: 0 15px 0 10px;
    color: white;
    white-space: nowrap;
}

.user-menu__dropdown-icon {
    width: 13px;
    height: 13px;
    background-image: url("../assets/icons/dropdown.png");
}

/* Стиль ячеек выпадающего списка */
.user-menu__list {
    display: none;
    background-color: #4CAF50;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* стиль текста в списке */
.user-menu__list li {
    color: black;
    padding: 12px 0 12px 0;
    display: block;
    width: 100%;
    text-align: center;
}

/* Смена цвета фона при наведении на ссылку в списке */
.user-menu li:hover {
    background-color: blue;
}

/* Показать выпадабщий список при наведении */
.user-menu:hover .user-menu__list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

