* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  min-width: 950px;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
}

header {
  display: flex;
  height: 45px;
  background-color: #383d4b;
  align-items: center;
}

.mid_volume {
  display: flex;
  flex-grow: 1;
}

aside {
  width: 200px;
  background-color: #19202e;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  display: flex;
  flex-flow: row-reverse;
  height: 45px;
  background-color: #181e2c;
  width: 100%;
}

.icon {
  height: 16px;
  width: 16px;
}

.default_list {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #78829d;
}