body, h4, p, ul,h2,h3, h6, h5, input{
  margin: 0;

  }
body{
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    min-width: 950px;
    max-width: 100vw;
  }
header {
    display: flex;
   border: 0;
   width: 100%;
   height: 45px;
   background: linear-gradient(to right, #383d4b, #2f364a);; /* Цвет фона линейным градиентом */
   align-items: center;
  }
.mid_volume{
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}
aside {
  float: left;
  width: 200px;
  background-color: #19202e;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
footer {
  display: flex;
  flex-flow: row-reverse;
  height: 45px;
  background-color: #181e2c;
  width: 100%;
}
