.slave {
    padding: 0 20px;
    background-color: #eef1f7;
}

.slave h1 {
    margin: 30px 0;
    font-size: 22px;
}

.filters-and-search {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

.filters button {
    padding: 0 10px;
    background-color: #eef1f7;
    color: #8c97b2;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #97b3ce;
    color: white;
}

.search {
    width: 400px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #ffffff;
    color: grey;
    padding: 0 16px;
}

.search input {
    margin-right: 8px;
    flex-grow: 1;
}

.search input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.icon_search {
    background-image: url("../assets/icons/search.png");
}
