footer {
  display: flex;
  flex-flow: row-reverse;
  height: 45px;
  background-color: #181e2c;
  width: 100%;
}
footer button {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 55px;
  border: 0;
}
.settings {
  background-color: #15a4fa;
}
.ask {
  background-color: #1f2637;
}
