header {
  display: flex;
 border: 0;
 width: 100%;
 height: 45px;
 background: linear-gradient(to right, #383d4b, #2f364a);; /* Цвет фона линейным градиентом */
}
.icons {
  width: 20%;
  height: auto;
}
.hat {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #78829d;
  padding-left: 20px;
  /* Текст этого заголовка смещается всегда в центр свободной области см. ниже*/
  }
.hat_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #78829d;
  margin-left: 20px;
  margin-right: 20px;
}
  /* Здесь настройка позиционирования кнопки*/
.spisok {
  position: relative;
  width: 150px;
  }

.knopka { /* Стиль кнопки списка */
  border: 0;
  background-color: #15a4fa;
  color: white;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}


/* Стиль ячеек выпадающего списка */
.korobka {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4CAF50;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* стиль текста в списке */
.korobka a {
    color: black;
    padding: 12px 20%;
    padding-left: 0;
    text-align: right;
    text-decoration: none;
    display: block;
    width: auto;
}

/* Смена цвета фона при наведении на ссылку в списке */
.spisok a:hover/*это и есть псевдокласс отвечающий за наведение*/ {background-color: blue;}

/* Увеличение кнопки на случай присобачивания имени пользователя */
.spisok:hover {
  width: auto;
  max-width: 70%;
}

/* Показать выпадабщий список при наведении */
.spisok:hover .korobka {display: block;}

/* Смена цвета кнопки при наведении */
.spisok:hover .knopka {background-color: black;}
